* {
    box-sizing: border-box;
    margin: 0px;
    font-size: calc(0.66vh + 0.34vw);
}

header {
    height: 20vh;
    border-top: 0.5rem solid blue;
    border-bottom: 0.5rem solid blue;
    display: grid;
    grid-template-rows: 5fr 3fr;
    justify-content: space-evenly;
}

#title-text {
    height: 10vh;
}

h1 {
    text-align: center;
    color: blue;
    font-size: 6rem;
    margin: 0.5rem;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-self: end;
    width: 100%;
    padding-bottom: 1rem;
}

nav button {
    font-size: 3rem;
    margin: 0.5rem;
    color: blue;
    border: 1px solid blue;
    background-color: darkgrey;
}

nav button:hover {
    background-color: grey;
    cursor: pointer;

}

#nav-previous {
    display:none;
}

#sample1, #sample2 {
    display: none;
}

main {
    display: grid;
    grid-template: 
                "x y" 70vh / 2fr 3fr;
    height: 70vh;
    gap: 1rem;
}

#information {
    grid-area: x;
    margin: 2rem 2rem;
}

#information h2 {
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
}

#information p {
    margin-left: 1rem;
    font-size: 2.5rem;
    text-decoration: none;
}

#information a {
    font-size: 2.5rem;
    text-decoration: none;
}


#glamour {
    grid-area: y;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    padding: 2rem;
    min-width: 0;
    min-height: 0;
}

footer {
    height: 10vh;
    border-top: 0.5rem solid blue;
    border-bottom: 0.5rem solid blue;
    justify-content: center;
    align-items: center;
    display: flex;
}

footer h3 {
    display: inline-block;
    font-size: 3rem;
}

footer p {
    display: inline-block;
    font-size: 2rem;
    position: relative;
    top: 0.5vh;
    margin-left: 1vh;
}
footer a {
    font-size: 2rem; 
}

#portfolioimg {
    object-fit: scale-down;
    width: 100%;
    max-height: 100%;
}

@media only screen and (orientation:portrait) {
    * {
        font-size: calc(1.33 * (0.34vh + 0.66vw));
    }
    main {
        grid-template:
                    "x" 1fr
                    "y" 1fr;
    }
    footer p {
        margin-right: 1rem;
    }
   footer h3 {
        margin-left:1rem;
    }
}

@media only screen and (max-width: 600px) {
    main {
        grid-template:
                    "x" 1fr
                    "y" 1fr ;
    }
}

@media only screen and (max-height: 600px) {
    * {
        font-size: calc(1.33 * (0.34vh + 0.66vw));
    }
    main {
        grid-template:
                    "x";
        height: 60vh
    }
    #glamour {
        display: none
    }
    #information h2 {
        font-size: 4rem;
    }
    #information p {
        font-size: 2.5rem;
    }
    #information a {
        font-size: 2.5rem;
    }
    footer p {
        margin-right: 1rem;
    }
    footer h3 {
        margin-left:1rem;
    }
    footer {
        height: 20vh;
    }


}